@import './layout.scss';

// :root {
//   --el-color-primary: red;
// }

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f7fa;
}

body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}
