.layout-container {
  width: 100%;
  height: 100%;
  // border: 1px solid #eee;

  .el-header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #b3c0d1;
    color: var(--el-text-color-primary);
  }

  .el-aside {
    transition: var(--el-transition-duration);
    color: var(--el-text-color-primary);
    background: #fff !important;
    border-right: solid 1px #e6e6e6;
    box-sizing: border-box;
    height: 100%;
  }

  .el-menu {
    border-right: none;
  }

  .el-main {
    width: 100%;
    padding: 14px;
  }

  .toolbar {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}
